body{
      font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
}


smallBar{
      width:20px;
      border:8px solid pink;

}
medBar{
      width:40px;
      border:8px solid pink;
}
largeBar{
      width:80px;
      border:8px solid pink;
}



/* people */
.person {
  display: inline-block;

}
#people {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#contacts, #address{
  display: inline-grid;
}

/* bread crumbs */

#logo {
  margin-left: 38%;
  margin-right:38%;
}

.progressbar {
  height:100px;
  margin-left: 25%;
  margin-right:25%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#CovidFrmHd {
  padding: 50px;
  border: 5px solid #ea861e;
  background: rgba(234, 134, 30, 0.5)
}

#middleThird, #lowerThird{
  margin-left: 25%;
  margin-right: 25%;
}

/* Style the list */
  .breadcrumb {
    display: flex;
    justify-content: center;
  }
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
/* bread crumb */