*{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}


body{
      font-family: 'Montserrat', sans-serif;
}
input{
      border: 8px solid #f28c3c;
      border-radius: 2px;
      margin: 5px 10px 5px 10px !important;
}
#lowerThird{
      flex-direction: row;
      display: flex;}
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
}


smallBar{
      width:20px;
      border:8px solid pink;

}
medBar{
      width:40px;
      border:8px solid pink;
}
largeBar{
      width:80px;
      border:8px solid pink;
}



/* people */
.person {
  display: inline-block;

}
#people {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  padding: 20px;
}

#contacts, #address{
  display: inline-grid;
}

/* bread crumbs */

.progressbar {
  height:100px;
  margin-left: 25%;
  margin-right:25%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#CovidFrmHd {
  padding: 50px;
  border: 5px solid #ea861e;
  background: rgba(234, 134, 30, 0.5)
}

#middleThird, #lowerThird{
  margin-left: 25%;
  margin-right: 25%;
}

button[btnName="Continue"]{
  width:250px;
  height:60px;
  background-image: url('assests/images/Continue Btn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  color:transparent;
  margin: 20px;
}

button[btnName="Next"]{
  width:150px;
  height:50px;
  background-image: url('assests/images/Next Btn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  color:transparent;
  margin: 20px;
}

button[btnName="Back"]{
  width:150px;
  height:50px;
  background-image: url('assests/images/Back Btn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  color:transparent;
  margin: 20px;
}

button[btnName="Send Form"]{
  width:150px;
  height:50px;
  background-image: url('assests/images/Finish Btn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  color:transparent;
  margin: 20px;
}

button[btnName="Medicaid Application Assistance"], 
button[btnName="SNAP"],
button[btnName="Food"],
button[btnName="Other"]{
  border: 5px solid #ea861e;
  background-color: transparent;
  color:black;
}

button[btnName="Medicaid Application Assistance"]:focus, 
button[btnName="SNAP"]:focus,
button[btnName="Food"]:focus,
button[btnName="Other"]:focus{
  border: 5px solid #cd5d98;
  background-color: #ea861e;
  color:white;
}

/* Style the list */
  .breadcrumb {
    display: flex;
    justify-content: center;
  }
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
/* bread crumb */